.jumbotron {
    background-color: #2E2D88;
    color: white;
}

input {
    color: black;
}

input[type=text], input[type=password] {
    width: 300px;
}

/*html {*/
/*letter-spacing: 2px;*/
/*}*/

/*body {*/
/*margin: 8%;*/
/*}*/

/*form {*/
/*display: table;*/
/*padding: 10px;*/
/*border: thin dotted #7e7e7e;*/
/*background-color: lightskyblue;*/
/*margin: 0 auto;*/
/*}*/

/*input[type=text] {*/
/*margin-bottom: 5px;*/
/*width: 300px;*/
/*}*/

/*input[type=password] {*/
/*width: 300px;*/
/*}*/

/*input[type=submit] {*/
/*background-color: lightgreen;*/
/*width: 240px;*/
/*margin: 0 auto;*/
/*display: block;*/
/*text-transform: none;*/
/*}*/

/*.warntip {*/
/*background-color: palevioletred;*/
/*padding: 2px;*/
/*border: 2px solid indianred;*/
/*}*/
/*li {*/
/*list-style: none;*/
/*margin:0;*/
/*}*/
/*ul {*/
/*margin:0;*/
/*padding:0;*/
/*}*/
/*p {*/
/*text-indent: 0%;*/
/*word-spacing: 0px;*/
/*}*/

/*.big {*/
/*overflow: hidden;*/
/*}*/

/*.main {*/
/*float: left;*/
/*width: 70%;*/
/*overflow: auto;*/
/*}*/

/*.small {*/
/*float: right;*/
/*width: 20%;*/
/*}*/

/*nav ul li {*/
/*height: 40px;*/
/*line-height: 40px;*/
/*}*/

/*nav ul li a {*/
/*display: block;*/
/*background: dodgerblue;*/
/*color: palevioletred;*/
/*text-decoration: none;*/
/*text-align: center;*/
/*font-size:20px;*/
/*}*/
/*nav ul li a:hover,nav ul li a:focus {*/
/*text-decoration: none;    */
/*color: palevioletred;*/
/*background: yellowgreen;*/
/*}*/
/*nav ul li a.selected {*/
/*background-color: yellowgreen;*/
/*}*/